@using ElleChristine.Web.Models

@model Show

<section class="bg-light-gray">
    <div class="container">
        <div class="bg-white box-shadow-primary">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="text-center">
                        <img src="~/imgs/content/gigs/@Model.Image" alt="@Model.Location" />
                    </div>

                </div>
                <div class="col-lg-6">
                    <div>

                        <div class="p-1-6 p-md-1-9">
                            <h2>Next Show</h2>


                            <div class="row">
                                <div class="col-6"><h5>@Model.Date.ToString("D")</h5></div>
                                <div class="col-6">
                                    <h5>
                                        @Model.Location<br />
                                        @Model.Time
                                    </h5>
                                </div>
                            </div>

                            <p>
                                @Html.Raw(Model.Description)
                                <!--<a href="https://www.facebook.com/GardenGroveBrewing">
                                    <strong>New Kent Winery.</strong>&nbsp;
                                </a>
                                New Kent, VA. 2-5pm. Farm winery, brewery and tasting room located one mile off I-64 between Richmond and Williamsburg.-->
                            </p>

                            <div class="row">
                                <div class="col-6">
                                @if (!string.IsNullOrWhiteSpace(Model.Url))
                                {
                                <a target="_blank" href="@Model.Url">
                                    <span class="fa fa-2x fa-globe fa-fw"></span>@Model.Title
                                </a>
                                }
                                </div>
                                <div class="col-6">
                                <a target="_blank" href="@Model.MapUrl">
                                    <span class="fa fa-2x fa-map-marker"></span>&nbsp;map
                                </a>
                                </div>
                            </div>

                            <a href="/Shows" class="butn medium theme mt-4"><span>More Shows</span></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
