@using ElleChristine.Web.Models

@model Show

<section class="bg-light-gray">
    <div class="container">
        <div class="bg-white box-shadow-primary">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="text-center">
                        <img src="~/imgs/content/gigs/@Model.Image" alt="@Model.Location" />
                    </div>

                </div>
                <div class="col-lg-6">
                    <div>

                        <div class="p-1-6 p-md-1-9">
                            <h3>Next Show - @Model.Title</h3>

                            <div class="row">
                                <div class="col-6"><h6>@Model.Date.ToString("D")</h6></div>
                                <div class="col-6">
                                    <h6>
                                        @Model.Location<br />
                                        @Model.Time
                                    </h6>
                                </div>
                            </div>

                            <p>
                                @Html.Raw(Model.Description)
                            </p>

                            <div class="row">
                                <div class="col-6">
                                @if (!string.IsNullOrWhiteSpace(Model.Url))
                                {
                                <a target="_blank" href="@Model.Url">
                                    <span class="fa fa-2x fa-globe fa-fw"></span>@Model.Title
                                </a>
                                }
                                </div>
                                <div class="col-6">
                                <a target="_blank" href="@Model.MapUrl">
                                    <span class="fa fa-2x fa-map-marker"></span>&nbsp;map
                                </a>
                                </div>
                            </div>

                            <a href="/Shows" class="butn medium theme mt-4"><span>More Shows</span></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
